.home-select {
    background-color: gray;
    border-radius: 5px;
}

.bcground-image {
    background-image: url(/images/bcg.jpg);
    background-color: ivory;
    background-size: 95em;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 5px;
    padding: 205px;
    filter: grayscale(10%);
    filter: blur(0.8px);
}

.content-mid div {
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
    border: 1px solid gray;
}